.mytable {
   border: 1px solid #aaaaaa;   
   border-collapse: collapse;

    
}

.mytable th {
    text-align: left;
    background-color: #eee;
    border: 1px solid #aaaaaa; 
    padding: 5px 10px;
}

.mytable td {
       border: 1px solid #aaaaaa; 
       padding: 5px 10px;
}

.mytable tfoot {
    padding: 5px 10px;
    background-color: #ccc;
}



<!--
.mytable th td {
    padding: 10px 5px;
}
-->